/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.navbar {
  margin-bottom: 20px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #d1d1d1 !important;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #007bff;
}
